:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --btn-text-color: #ffffff;
  --first-background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --btn-hover-color: #188ce8;
  --link-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

address {
  font-style: normal;
}

.title {
  color: var(--second-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* ----- Header -----*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-text-color {
  color: var(--second-text-color);
}

.footer-text-color {
  color: var(--btn-text-color);
}

/* --------------------------- */

.header-list {
  color: var(--second-text-color);
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus,
.current {
  color: var(--accent-color);
}

/* ----- Hero ------ */

.hero {
  background-color: var(--first-background-color);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-text-color);
}

.hero-btn {
  font-family: inherit;
  background: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
}

.hero-btn:focus,
.hero-btn:hover {
  background: var(--btn-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ----- Features ----- */

.features-item-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

/* ----- What we do ----- */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* ----- Team ----- */

.team {
  background-color: var(--second-background-color);
}

.team-item-name,
.team-item-positions {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-item-name {
  font-weight: 500;
}

/* ----- Footer ----- */

.footer {
  background-color: var(--first-background-color);
}

.footer-link[target="_blank"] {
  color: var(--btn-text-color);
}

.footer-link {
  color: var(--link-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* ----- Portfolio ----- */

.projects-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background: var(--second-background-color);
  border-radius: 4px;
  cursor: pointer;
}

.projects-btn:focus,
.projects-btn:hover,
.active {
  color: var(--btn-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list-text {
  font-size: 16px;
  line-height: 1.87;
}
